<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="collection">
        <% @user_who_likes.each do |voter| %>
          <li class="collection-item avatar">
            <%= get_thumbnail(voter.user)%>
            <span class="title"><%= voter.nickname %></span>
            <p><%= voter.age %></p>
          </li>

        <% end %>
      </ul>
    </div>

  </div>
  <%= paginate @user_who_likes %>
</div>
