
<div class="container">
  <div class="row">
    <div class="col s12">
      <center><h4> Your conversations </h4></center>

      <div id="conversations">
        <%= render @conversations %>
      </div>
    </div>
  </div>
  <%= paginate @conversations %>
</div>
