<div class="parallax-container">
  <div class="parallax"><%= image_tag 'entryheader' %></div>


    <center style="padding-top:100px;">
      <h2 class="teal-text text-lighten-5">Welcome to YourDate</h2>
      <p class="teal-text text-lighten-5">Join our community today and meet new people</p>
      <a class="waves-effect waves-ligth btn" href="<%= new_user_session_path  %>">Sign up</a>
    </center>


</div>

<!-- Qoutte -->
<div class="row">
  <h3 class="center-align red-text text-lighten-2">Join our community for free and find you're<br> Partner or Friend.</h3>
</div>

<!-- Commercial -->
<div class="container">
  <div class="row" style="margin-top: 80px;">

    <div class="col s4">
      <center>
        <i class="large material-icons red-text text-lighten-2">favorite</i>
        <h5>Find your Date</h5>
        <p>No matter what you are looking for <br>
           you will find it here. Join our Site <br>
           and are able find your lifetime partner </p>
      </center>
    </div>

    <div class="col s4">
      <center>
        <i class="large material-icons red-text text-lighten-2">public</i>
        <h5>Find People arround the Globe</h5>
        <p>Nowadays with the access of internet almost <br>
           everywhere you are can search for people <br>
           arround the World and make many <br>
           interesting acquaintances.</p>
      </center>
    </div>

    <div class="col s4">
      <center>
        <i class="large material-icons red-text text-lighten-2">group</i>
        <h5>Become a member for FREE</h5>
        <p>We are of the opinion that it should be<br>
          free to find new People, if its just <br>
          to meet Friend or find your Love.</p>
      </center>

    </div>

  </div>
</div>

<!-- Moving Arguments -->
<div class="container" style="margin-top: 100px">
  <div class="row">
      <ul id="staggered-test">
        <li id="first" style="opacity: 0; transform: translateX(0px);">
          <h4>First argument</h4>
          <p>A sentce to make this argument stronger</p>
        </li>
        <li id="second" style="opacity: 0; transform: translateX(0px);">
          <h4>Second argument</h4>
          <p>A sentce to make this argument stronger</p>
        </li>
        <li id="third" style="opacity: 0; transform: translateX(0px);">
          <h4>Third argument</h4>
          <p>A sentce to make this argument stronger</p>
        </li>
        <li id="forth" style="opacity: 0; transform: translateX(0px);">
          <h4>Fourth argument</h4>
          <p>A sentce to make this argument stronger</p>
        </li>
      </ul>

  </div>
</div>
