
<div class="row message-wrapper">

    <%= form_for @personal_message do |f| %>
      <%= hidden_field_tag 'receiver_id', @receiver.id %>
        <div class="col s10">
        <div class="input-field">
          <i class="material-icons prefix">mode_edit</i>
          <label for="body">Message</label>
          <%= f.text_area :body, class:"materialize-textarea message-box" %>
        </div>
      </div>

        <div class="col s2" >
          <div class="input-field">
            <button class="btn waves-effect waves-light" type="submit" name="action">Send</button>
          </div>
        </div>
    <% end %>

</div>
