// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-image-wrapper{
  height: 400px;
  weight: 100px;
}

.fit-image{
  max-height: 100%;
  max-height: 100%;
}
