// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-image-wrapper{
  height: 400px;
  weight: 80px;
}



.no-spacing{
  border-spacing:0;
  td{
    padding: 0px 5px 0px 5px !important;
  }
}
